/* ================================================================== */
/* === Images                                                     === */
/* ================================================================== */

.portfolio {
    &__image {
        width: 100%;
        border-radius: 5px;
        display: block;
    }
}