@use '../utilities/variables'as *;

/* ================================================================== */
/* === Typography                                                 === */
/* ================================================================== */

.navbar {
    &__logo {
        font-size: 5rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $color-logo;
        text-shadow: 0px 5px 10px rgba(0, 0, 0, .6);
    }

    &__link {
        color: $color-nav;
        font-weight: 600;
    }
}

.link--emphasis {
    font-weight: 700;
}

.hero {

    &__headline,
    &__subtitle,
    &__foot {
        color: #fff;
        text-align: center;
    }

    &__headline {
        font-weight: 600;
    }

    &__subtitle,
    &__foot {
        font-weight: 200;
    }

    &__foot {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        font-size: .8125rem;
        text-align: center;

        .icon {
            padding: 5px 0 10px;
        }
    }
}

.card {

    &__title {
        color: inherit;
        font-size: 1.5rem;
        font-weight: 600;
    }

    &__cta {
        color: inherit;
        font-size: .75rem;
    }
}