@use '../utilities/variables'as var;

/* ================================================================== */
/* === Base styles                                                === */
/* ================================================================== */

* {
    box-sizing: border-box;
}

html {
    font: 400 16px 'Baloo Bhaijaan 2', sans-serif;
    color: var.$color-nav;
    letter-spacing: 0.4px;
}

a {
    text-decoration: none;
}