/* ================================================================== */
/* === Containers                                                 === */
/* ================================================================== */
@use '../utilities/mixins';


.hero {
    &__content {
        @include mixins.section-container();
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}