/* ================================================================== */
/* === Containers                                                 === */
/* ================================================================== */
@use '../utilities/mixins';
@use '../utilities/variables'as *;

.navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: $nav-width-medium;
    height: 100vh;
    background-color: #fff;
    z-index: 10;
    border-right: 2px solid $color-logo;

    @include mixins.mq-medium() {
        display: block;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 132px;
        border-bottom: 2px solid $color-logo;
    }

    &__items {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 100px 0 0 0;
        list-style: none;
    }
}

.hero {

    &__container {
        @include mixins.section-container();
        height: 100vh;
    }

    &__content {
        @include mixins.content-container();
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.portfolio {

    &__container {
        @include mixins.section-container();
    }

    &__content {
        @include mixins.content-container();
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
    }

    &__card {
        flex: 1 1 100%;
        color: #000;

        @include mixins.mq-small() {
            flex: 1 1 45%;
        }

        @include mixins.mq-large() {
            flex: 1 1 30%;
        }

        &:hover {
            color: rgba(0, 0, 0, 0.3);
            transition: color .25s;

            .portfolio__image-overlay::after {
                background-color: rgba(0, 0, 0, 0.3);
                transition: all .25s;
            }
        }
    }

    &__image-container {
        position: relative;
        border-radius: 5px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    }

    &__image-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        &::after {
            content: " ";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            display: inline-block;
            background-color: transparent;
        }
    }
}

.card {
    &__text {
        margin: 15px 0 30px;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        gap: 5px;
    }

    &__title {
        flex: 1 1 40%;

        @include mixins.mq-medium() {
            flex: 1 1 100%;
        }
    }

    &__cta {
        padding-bottom: 4.5px;
    }
}