@font-face {
  font-family: 'IcoMoon';
  src:  url('../../fonts/IcoMoon.eot?1ejkwd');
  src:  url('../../fonts/IcoMoon.eot?1ejkwd#iefix') format('embedded-opentype'),
    url('../../fonts/IcoMoon.ttf?1ejkwd') format('truetype'),
    url('../../fonts/IcoMoon.woff?1ejkwd') format('woff'),
    url('../../fonts/IcoMoon.svg?1ejkwd#IcoMoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
