@use "../../utilities/mixins";
@use "../../utilities/variables" as *;

/* ================================================================== */
/* === Coding Page                                                === */
/* ================================================================== */

.coding {
	&-main {
		&__container {
			@include mixins.section-container();
		}

		&__content {
			@include mixins.content-container();
            padding-top: 0;
		}
	}

	&__example {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 30px;
		border: 0;
		transform: scale(1);
		overflow: visible;
		transition: height 1s;
		border-top: 1px solid rgba(0, 0, 0, 0.6);
		margin-bottom: 30px;

		@include mixins.mq-xlarge() {
			flex-direction: row;
		}
	}

	&__code {
		max-height: 30vh;
		overflow-y: scroll;
		transition: max-height 1s;
		@include mixins.mq-xlarge() {
			max-height: max-content;
		}

		
	}

	&__head {
		flex: 0 0 100%;
		@include mixins.mq-xlarge() {
			flex: 0 0 55%;
		}
	}

	&__scroller {
		display: block;
		width: 20%;
		margin: 0 auto;

		&:hover {
			cursor: pointer;
		}

		@include mixins.mq-xlarge() {
			display: none;
		}
	}
}

.code--expanded {
	max-height: 81vh;
	transition: max-height 1s;
}
