@use '../utilities/mixins';
@use 'variables' as *;

/* ================================================================== */
/* === Buttons                                                    === */
/* ================================================================== */

.hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    z-index: 10;
    top: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    padding: 5px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);

    &__slice {
        width: 35px;
        height: 5px;
        margin: 0 auto;
        border-radius: 2px;
        background-color: #000;
    }

    @include mixins.mq-medium() {
        display: none;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;    
    padding: 0 35px;
    margin-top: 10px;
    background-color: #fff;
    color: $color-nav;
    border: 2px solid $color-nav;
    border-radius: 5px;
    font-size: 0.75rem;
    font-weight: 700;


}